# Python
env/
__pycache__/
*.pyc
db.sqlite3

venv/

# Django
*.log
media/

# Node / React
node_modules/
build/

# VS Code
.vscode/

# OS
.DS_Store
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local only
node_modules/
venv/
.env

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/

# Frontend
frontend/node_modules/
frontend/.env

# Celery beat local schedule DB
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
mysite/celerybeat-schedule
mysite/celerybeat-schedule-shm
mysite/celerybeat-schedule-wal

